@{
    ViewBag.Title = "Play";
}
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Online Strip</title>
    <link href="http://play.jok.io/css?ignore=1" rel="stylesheet" />
    @Styles.Render("~/play/css")
    <script>
        window.userid = '@ViewBag.UserID';

        var jok = {};

        jok.config = {
            sid: '@ViewBag.SID',
            gameid: '@ViewBag.GameID',
            channel: '@ViewBag.Channel',
            language: '@ViewBag.Language',
            isVIPMember: '@ViewBag.IsVIPMember' == 'True',
            exitUrl: '@ViewBag.ExitUrl',
            authorizationUrl: '@ViewBag.AuthorizationUrl',
            isMobileDevice: @Request.Browser.IsMobileDevice.ToString().ToLower(),
            audios: '@Url.Content("~/Content/Audios/")',
            isMobileApp: '@ViewBag.IsMobileApp' == 'True'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>
    <div id="Game">
        <div style="width: 800px; height: 600px; margin:auto;">
            <div id="canvasOne" style="color: lightblue">
            </div>
            <div style="width: 100%; margin: auto; text-align: center">
                <button id="btnplayAgain" class="btnstyle" onclick="PlayAgain()">თამაშის დაწყება</button>
            </div>
            <div id="divKeyboard">
            </div>
        </div>
        <script type="text/javascript">
            var playAgain = false;
            function PlayAgain() {
                window.Game.This.restartGame();
            }

            window.addEventListener("load", function (event) {

                for (var i = 97; i <= 122; i++) {
                    var chart = String.fromCharCode(i);
                    var btn = document.createElement("div");
                    var t = document.createTextNode(chart);
                    btn.appendChild(t);
                    btn.id = 'btn' + chart;
                    btn.innerText = chart;
                    btn.value = chart;
                    btn.addEventListener("click", function (e) {
                        //todo: Sesacvlelia
                        window.Game.This.sendChar(e.target.innerHTML);
                    }, true);
                    document.getElementById("divKeyboard").appendChild(btn);
                    $(btn).hide();
                }
                window.Game.This.updatePage();
                $('#btnplayAgain').hide();


                setTimeout(function () {
                    //todo: gadasatania mtavar kodSi
                    window.Game.This.restartGame();
                }, 2000);
            }, true);

        </script>
    </div>
    <script src="http://play.jok.io/js?ignore=3"></script>
    @Scripts.Render("~/play/js")
</body>
</html>
