@{
    ViewBag.Title = "Play";
}
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Online Strip</title>
    <link href="http://play.jok.io/css?ignore=1" rel="stylesheet" />
    @Styles.Render("~/play/css")
    <script>
        var jok = {};

        jok.config = {
            sid: '@ViewBag.SID',
            gameid: '@ViewBag.GameID',
            channel: '@ViewBag.Channel',
            language: '@ViewBag.Language',
            isVIPMember: '@ViewBag.IsVIPMember' == 'True',
            exitUrl: '@ViewBag.ExitUrl',
            authorizationUrl: '@ViewBag.AuthorizationUrl',
            isMobileDevice: @Request.Browser.IsMobileDevice.ToString().ToLower(),
            audios: '@Url.Content("~/Content/Audios/")',
            isMobileApp: '@ViewBag.IsMobileApp' == 'True'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>
    <div id="Game">
        <div style="width: 800px; height: 600px; margin:auto;">
            <div id="canvasOne" style="color: lightblue">
            </div>
            <div style="width: 100%; margin: auto; text-align: center">
              
            </div>
            <div id="divKeyboard">
            </div>
        </div>
      
    </div>
    <script src="http://play.jok.io/js?ignore=3"></script>
    @Scripts.Render("~/play/js")
</body>
</html>
