@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <title>Online Strip</title>
    <link href="http://play.jok.io/css?ignore=1" rel="stylesheet" />
    @Styles.Render("~/play/css")
    <script>
        var jok = {};

        jok.config = {
            sid: '@ViewBag.SID',
            gameid: '@ViewBag.GameID',
            channel: '@ViewBag.Channel',
            language: '@ViewBag.Language',
            isVIPMember: '@ViewBag.IsVIPMember' == 'True',
            exitUrl: '@ViewBag.ExitUrl',
            authorizationUrl: '@ViewBag.AuthorizationUrl',
            isMobileDevice: @Request.Browser.IsMobileDevice.ToString().ToLower(),
            audios: '@Url.Content("~/Content/Audios/")',
            isMobileApp: '@ViewBag.IsMobileApp' == 'True'
        }
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
</head>
<body>
    <div id="Game">
        <div id="PlayerModel">
            <img src="~/Content/Images/strippable_man1.png" />
        </div>
        <div id="OpponentModel">
            
            <div style="background-image: url('/Content/Images/strippable_girl1.png'); background-repeat: no-repeat; display: inline-block; background-size: 100%; height: 300px; width: 89px; ">
                <div style="background-image: url('/Content/Images/strippable_girl2.png'); background-repeat: no-repeat; width: 100%; background-size: 100%; padding-top: 300px; "></div>
            </div>
            </div>
        <div class="gameStyle">
            <div id="currentDiv" class="game_point">

            </div>
            <div id="oponentDiv" class="game_point">

            </div>
            <div id="canvasOne">
            </div>

            <div id="divKeyboard">
            </div>
        </div>

    </div>
    <script src="http://play.jok.io/js?ignore=3"></script>
    @Scripts.Render("~/play/js")
</body>
</html>
